{% extends 'blog/base.html' %}

{% block content %}
    <form action="">
    {% for group in poets_groups %}


        <a href="{% url 'follow_group' group_name=group.name %}" class=""><span class="glyphicon glyphicon-heart-empty -align-left"></span></a> <a href="{% url 'leave_group' group_name=group.name %}" class=""><span class="glyphicon glyphicon-fire -align-left"></span></a>   <a href="{% url 'group_poem_list' group_name=group.name %}">{{ group.name }}</a></h3><br>
    {% endfor %}
    </form>
    <button type="button">Click Me!</button>
{% endblock %}
