

<li>
    <div class="cd-full-width">

        <div class="container-fluid js-tm-page-content" data-page-no="2">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tm-2-col-container">

                        <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox">
                            <h2 class="tm-text-title">Lorem ipsum dolor</h2>
                            <p class="tm-text">Quisque sagittis quam tortor, sit amet posuere justo tempor non. Cras tempus, eros vel ultrices aliquam, velit tortor sodales risus, ac facilisis lectus tortor eget neque.</p>
                            <p class="tm-text">Nam auctor dui ante. Curabitur tristique nec ligula ac semper. Nunc eu leo sit amet elit condimentum consectetur.</p>
                        </div>

                        <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox">
                            <h2 class="tm-text-title">Phasellus rutrum sapien</h2>
                            <p class="tm-text">
                            <h3>{{ follow_txt }} </h3><h4>{{ followed_groups }}</h4>
                            {% for poem in poems %}
                                <div class="poem">
                                    <div class="date">
                                        {{ poem.published_date }}
                                    </div>
                                    <h1><a href="{% url 'poem_detail' pk=poem.pk %}">{{ poem.title }}</a></h1>
                                    <i><p>{{ poem.text|linebreaksbr }}</p></i>
                                </div>
                            {% endfor %}
                            </p>
                            <p class="tm-text">Fusce ut elit interdum sem consectetur maximus. Mauris eros lacus, sollicitudin sit amet lacinia et, vehicula bibendum felis. Pellentesque in quam iaculis erat iaculis lacinia.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div> <!-- .cd-full-width -->

</li>
